<div class="container">
  <h1 class="text-center">Caculadora</h1>
<div class="">
   Ingrese un numero:<input type="number" class="form-control" placeholder="valor1" id="val1" [(ngModel)]="val1">
</div><br>
<div class="">
   Ingrese un numero:<input type="number" class="form-control" placeholder="valor2" id="val2" [(ngModel)]="val2">
</div>
  <br>
  <!-- <div class="col-md-3">
    <select class="form-select" aria-label="Default select example" [(ngModel)]="seleccionada" name="operacion">
        <option selected value="inicio">Elige una opcion</option>
        <option value="1">sumar</option>
        <option value="2">restar</option>
        <option value="3">multiplicar</option>
        <option value="4">dividir</option>
    </select>
  </div>  -->
  <div class="">
  <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" [(ngModel)]="seleccionada" name="operacion">
    <option selected value="inicio">Elige una opcion</option>
    <option value="1">sumar</option>
    <option value="2">restar</option>
    <option value="3">multiplicar</option>
    <option value="4">dividir</option>
  </select>
  </div>
  <br>
  <button (click)="operacion()" class="form-control boton">operacion</button>
  <br> 
  <p>El resultado es = {{total}}</p>
</div>










<router-outlet></router-outlet>
